h2{
  color:#B97A95;
  margin-left: 10%;
  margin-top: 37px ;
}
.h2{
  color:#B97A95;
  margin-left: 35%;
  margin-top: 77px ;
  margin-bottom: 70px;
}
/* CSS */
/* .button {
  background-color: #FAEBD7;
  border-radius: 0px;
  border: 1px solid #02070a;
  box-shadow: rgb(196, 193, 196);
  box-sizing: border-box;
  color: #c60021;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
} */

.button:hover,
.button:focus {
  background-color: white;
  color: black;
}

/* .button:focus {
  box-shadow: 0 0 0 4px rgba(12, 23, 32, 0.15);
} */

/* .button:active {
  background-color: #d1d4c7;
  box-shadow: none;
  color: #838580;
} */
.buttonadd{
  background-color:rgb(196, 193, 196);
  margin-left: 90%;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px ;

}
.buttonadd:hover{
  background-color:#B97A95;
}


/* CSS */
.button{
  align-items: center;
  background: rgb(196, 193, 196);
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  height: 50px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 20px;
  text-decoration: none;
  width: 26%;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1%;
}
/* .book{
  background-color: black;
  width: 70%;
  margin-left: 40%;
  margin-bottom: 100%;
  
} */

.allbtn{
  margin-left: 11%;
  
  
}