/* *{
  font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}
.h_menu{
  font-family: 'Open Sans', sans-serif;

 top: 55;
}
.h_menu ul li{
	margin-right:20px;
	float: left;
  list-style-type: none; 
}

.h_menu ul li a{
	padding: 30px 15px;
	text-transform: uppercase;
	font-size: 1em;
	color:#555555;
	font-weight: 600;
  text-decoration: none;

}
.h_menu ul li a:hover{
  text-decoration: none;
	color: #c60021;
	border-bottom:2px solid rgb(129, 113, 113);
  
} */
.header{
	width: 100%;
	/* background-color: #ecddc9; */
	background-color: rgb(196, 193, 196);
}
.header ul{
	text-align: left;
}
 .header ul li {
	list-style: none;
	display: inline-block;
}
.header ul li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 333;
	padding: 20px;
	transition: all ease 0.5s;
}
.header ul li a:hover{
background-color: #9992999f;
}
.navbaritem ul li a{
  margin-left: 90%;
  list-style: none;
	margin-bottom: 9px;
}