.room{
  width: 63%;
  border-radius: 5px ;
  /* padding: 4%; */
  background-image: url("../assets/bookk.png");
  background-position: center;
  background-size: cover;
  margin: 4%;
  /* margin-right: 44px;
  margin-left: 44px; */
  /* display: flex;
  flex-direction: column; */
  padding: 10px;
  text-align: center;
  
}

.roomname{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 10%;
    /* padding-top: 10%;
    margin-bottom: 18%; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.roombtn button{
    background-color:#B97A95;
   padding: 3px 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    /* width: 70%;
    height: 30%; */
    /* margin: 20%; */
    margin-top: 100px;
    margin-bottom: 20px;
}
.roombtn button:hover{
    background-color:rgb(196, 193, 196);
  }
  .btnoo{
    background-color:#B97A95;
    padding: 6px;
     border-radius: 10px;
     font-size: 17px;
     font-weight: 400;
     /* width: 70%;
     height: 30%; */
     /* margin: 20%; */
     /* margin-top: 100px; */
     /* margin-bottom: 20px;  */
     /* margin-left: 20; */
  }
  .btnoo:hover{
    background-color:rgb(196, 193, 196);
  }
.Modal{
  position: relative;
  top: 200px;
  right: 300px;
  margin-bottom: 10%;
  margin-right: 50%;
  width: 100%;
}
.modal2{
  /* position: absolute; */
  
}