.search{
    /* padding-bottom: 30%;
    padding-left: 5%;
    align-items: center; */
    margin-top: 40%;
    margin-left: 6%;
    /* background-color: #ddc1cd; */
    
   }
   .searchbt{
    margin-top: 13%;
    
   }
 
   .btnS{
      /* background-color: #ffefd9; */
      background-color: white;
      border: none;
      width: 50px;
      /* height: 100px; */
      /* size: 300%; */
   }
  .booktext{

     /* text-align: center;
     padding: 30px ; 
     width: 90%;
     margin-left: 120%;
     margin-top: 130%;
     background-color: red;
     font-size: 25px;
     font-family: "Rubik", Sans-serif;
     text-transform: capitalize; */
        
     color: rgb(12, 1, 1);
     position: absolute;
     font-size: 30px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin-top: 300px;
     margin-left: 400px;

  }
  .span1{
     color:#B97A95;
     font-weight: bold;
  }
  